/*video page*/
.thumbnails{
    width:100%

 }

 .vidtitle{
     display: inline-block;
     width: 220px;margin-left: 10px;
     margin-top: 8px;
     margin-bottom: 1px;
     color: black;
     width: 230px;
     font-family: "Roboto", sans-serif;
font-weight: 700;
font-style: normal;}

 .vidchannel,.vidstats{
     opacity: 1;
     width: 200px;
     opacity: 0.6;
     vertical-align: top;
     margin-left: 50px;
     margin-top: 3px;
     margin-bottom: 2px;
     font-size: 12px;
     color: rgb(0, 0, 0);
     font-family: "Roboto", sans-serif;
font-weight: 400;
font-style: normal;
 }
 .vid{
     width: 300px;
     display:inline-block;
     vertical-align:top;
     margin-right: 15px;
    
 }
 .vid2{
     width: 300px;
     display:inline-block;
     vertical-align:top;
     margin-right: 15px;
     }
 .chpic{
     display: inline-block;
     width:35px;
     margin-top: 10px;
     margin-left: 2px;
     cursor: pointer;
     border-radius: 80px;
 

 }
 .fr{display: inline-block; grid-template-columns: 300px 300px 300px;}
 .chpic,.vidtitle{
     vertical-align:top;
 }
 .lay2{
     margin-bottom: 20px;
     vertical-align: top;
 }
 .dot{margin-right: 1px;cursor: pointer;
     color:black;display: inline-block;
 } 
 .dot:hover{
     opacity: 1;
 }
 .vid-grid{
     display:grid; grid-template-columns: 1200px;
     padding-top: 80px;
     padding-left: 100px;background-color: rgb(242, 242, 242);
    
 }
 .thumbnailstamp{
    position:relative;
 }
 .timestamp{
    font-family: roboto,arial ;
    font-size: 12px;
    font: weigth 500px;
    padding-left: 2px;padding-right: 2px;
    border-radius:2px;
    background-color: black;
    color:white;
    display: inline;
    position: absolute;
    bottom:10px; right:8px;
 }
 
 /*header page*/
 .header{
    height:65px;
    background-color: white;
   width:100%;
   margin-top: -9px;
    display:flex; flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
   
 }
 .firstsection{
    background-color: white;
    width:200px; display:flex
 }
 .midsection{
    display: flex;
    align-items: center;
    flex:1;
    margin-left:70px;
    max-width:500px; 
    margin-right:35px;
 }
 .endsection{
    background-color: white;
    width:200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 18px;
    flex-shrink: 0;
 }
 .searchbox{
    flex:1;
    max-width: 350px;height:26px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style:solid;
    border-color: rgb(162, 158, 158);
    border-radius: 15px;
    box-shadow: inset 10px 20px 5px
    rgba(0,0,0,0.05);
 }
 
 .searchbox::placeholder{
    font-family: Roboto,Arial; font-size: 13px;

 }
 .sbutton{margin-left:-24px ;background-color: , Firefox 1, Safari 1, Chro;
    height:30px ;border-width: 1px;border-style: solid;
    border-color:rgb(162, 158, 158);
    border-radius: 15px;width: 40px; margin-right:10px;
    cursor: pointer;position:relative;}

.vbutton{
    border-width: 1px;border-color: white;border; 
    border-radius:20px; border:none; cursor: pointer;
}
.noti{
    position:relative;
}
.noticount{
    position:absolute; background-color: rgb(214, 0, 0);color:white;
    border-radius: 16px;padding-left: 5px;font-size: 11px;
    padding-right: 5px;padding-top: 2px;padding-bottom: 1px;
    top:-2px;right:-3px;
}
.sidebar{position: fixed;width: 60px;
left:0;bottom: 0;top:64px;background-color: white;
}
.sidebar-link{
    height: 106px;display: flex;justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color: rgb(237, 236, 236);opacity: 1.0;
}
.sidebar-link img{
    width: 30px;
}
.sidebar-link{
    font-family: roboto, arial;
    font-size: 10px;display: flex;
    flex-direction: column; 
}
.tooltip{
    position:absolute;background-color: gray;color:white;
    font-size: 10px;border-radius: 2px;padding-left: 3px;
    padding-right: 3px;opacity: 0;margin-top: 10px;
    margin-left: -2px;
}
.sbutton:hover .tooltip{
    opacity: 1;transition: 0.6s;
}
.vbutton:hover .tooltip{
    opacity: 1;transition: 0.6s;
}
.sidimg{
    cursor: pointer;
}
.stext{
    cursor:none;
}
.youtube2{
    position:relative;margin-top: 20px;
}
.youtube{
    font-size: 09px;position:absolute;margin-top: 18px;
    background-color:black;padding-left: 2px;color:white;
    padding-right: 2px;padding-top: 2px;padding-bottom: 2px;
    opacity: 0;

}
.youtube2:hover .youtube{
    opacity:0.5;transition: 1s;
}